[submodule "refarence/RustDDS"]
	path = refarence/RustDDS
	url = https://github.com/jhelovuo/RustDDS.git
[submodule "refarence/ShapesDemo"]
	path = refarence/ShapesDemo
	url = https://github.com/eProsima/ShapesDemo.git
